@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

input[type=text], select {
  width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=password], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=button], select {
  width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#spoiler{
    display: none;
   }


#addname{
    width: 80%;
    height: auto;
}
.registerform{
  border-width: 10px 0px 0px 0px ;
  border-style: outset;
  border-color: rgb(70, 169, 250);
 margin-left: 130px;
margin-top: 5%;
float: left;
}
.loginform{
  border-width: 10px 0px 0px 0px ;
  border-style: inset;
  border-color: rgb(243, 19, 232);
  
  margin-top: 5%;
  margin-right: 150px;
  float: right;
  }

  #textbox1{
    margin-left: 34.5px;
  }
  
  #textbox{
    margin-left: 20px;
  }
  
  #textbox2{
    margin-left: 23px;
  }
 

 .sub{
    width: 200px;
    margin-left: 115px;
    margin-top: -10px;
    border-radius: 20px;
  }

  .msg{
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: 10px;
  }
  
  .head{
    margin-top: 10px;
    margin-left: 170px;
  }

  .pos{
    padding: 40px  20px;
    margin-top: 5px;
  }
  