@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.maps{
 display: block;
  margin-left: 150px;
  margin-right: auto;
  margin-top:50px;
  width: 40%;
}

.heading{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #000608;
    text-decoration: none;
    margin-left:20px;
}

